@media screen and (min-width: 1200px) {
  .advantages:not(:last-child)::after {
    content: '';
    border: 1px solid white;
    height: 124px;
    width: 1px;
    position: absolute;
    top: 50%;
    right: -18px;
    border-width: 0 1px 0 0;
    margin-top: -62px;
  }
}
