<section class="section-three" <div class="container-ingredients mobile-ing">
  <div class="section-three-heads">
    <h2 class="section-three-title">
      IT ALL ADDS UP TO ONE EXCEPTIONAL
      <span class="taste">TASTE</span> SENSATION
    </h2>
    <p class="section-three-descrition">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
  </div>
  <div class="ingredients-cont">
    <ul class="list ingredients-lists">
      <li class="ingredients-picture">
        <div class="pictures-cont">
          <img
            class="pictures"
            srcset="images/chocolate1x.jpg 1x, images/chocolate2x.jpg 2x"
            alt="milk chocolate"
            width="206"
          />
          <p class="picture-name">MILK CHOCOLATE</p>
        </div>
      </li>
      <li class="ingredients-picture">
        <div class="pictures-cont">
          <img
            class="pictures"
            srcset="images/milk1x.jpg 1x, images/milk2x.jpg 2x"
            alt="milk"
            width="206"
          />
          <p class="picture-name">MILK</p>
        </div>
      </li>
      <li class="ingredients-picture">
        <div class="pictures-cont">
          <img
            class="pictures"
            srcset="images/nuts1x.jpg 1x, images/nuts2x.jpg 2x"
            alt="NUTS"
            width="206"
          />
          <p class="picture-name">NUTS</p>
        </div>
      </li>
      <li class="ingredients-picture">
        <div class="pictures-cont">
          <img
            class="pictures"
            srcset="images/semi-sweet1x.jpg 1x, images/semi-sweet2x.jpg 2x"
            alt="semi-sweet chocolate"
            width="206"
          />
          <p class="picture-name">SEMI-SWEET CHOCOLATE</p>
        </div>
      </li>
    </ul>
  </div>
</section>
