<section class="section-three">
  <div class="header">
    <h2 class="title">
      IT ALL ADDS UP TO ONE EXCEPTIONAL
      <span class="taste">TASTE</span> SENSATION
    </h2>
    <p class="description">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
  </div>
  <div class="ingredients-cont">
    <ul class="list ingredients-lists">
      <li class="ingredients-picture">
        <a>
          <img
            src="images/milkchocolate1x.png"
            srcset="
              images/milkchocolate1x.png 1x,
              images/milkchocolate2x.png 2x"
            alt="milk chocolate" />
          <p>MILK CHOCOLATE</p>
        </a>
        <div class="pop-up">
          <h3>MILK CHOCOLATE</h3>
          <span class="button-style orange" type="button">chocolate</span>
          <span class="button-style white" type="button">the benefits</span>
          <p>
            Milk chocolate is a solid chocolate confectionery containing cocoa,
            sugar and milk. It is the most consumed type of chocolate. Chocolate
            was originally sold and consumed as a beverage in pre-Columbian
            times. Although four-fifths of all milk chocolate is sold in the
            United States and Europe.
          </p>
        </div>
      </li>
      <li class="ingredients-picture">
        <a>
        <img
          src="images/milk1x.jpg"
          srcset="images/milk1x.jpg 1x, images/milk2x.jpg 2x"
          alt="milk"
        />
        <p>MILK</p>
        </a>
        <div class="pop-up">
          <h3>MILK</h3>
          <span class="button-style orange" type="button">milk</span>
          <span class="button-style white" type="button">the benefits</span>
          <p>
            Milk is a white liquid food produced by the mammary glands of mammals. It is the primary source of nutrition for young mammals (including breastfed human infants) before they are able to digest solid food.Early-lactation milk, which is called colostrum, contains antibodies that strengthen the immune system.
          </p>
        </div>
      </li>
      <li class="ingredients-picture">
        <a>
        <img
          src="images/nuts1x.png"
          srcset="images/nuts1x.png 1x, images/nuts2x.png 2x"
          alt="NUTS"
        />
        <p>NUTS</p>
      </a>
      <div class="pop-up">
        <h3>NUTS</h3>
        <span class="button-style orange" type="button">nuts</span>
        <span class="button-style white" type="button">the benefits</span>
        <p>
          Almonds, pistachios, and walnuts are some types of nuts that contain healthy nutrients. When eaten as part of a nutrient-dense diet, these 9 nuts may offer benefits such as reducing your risk of heart disease. They're a good source of fiber, healthy fats, and plant protein. Plus, they're great on their own.
        </p>
      </a>
      </div>
     
      </li>
      <li class="ingredients-picture">
        <a>
        <img
          src="images/semi-sweet1x.jpg"
          srcset="images/semi-sweet1x.jpg 1x, images/semi-sweet2x.jpg 2x"
          alt="semi-sweet chocolate"
        />
        <p>SEMI-SWEET CHOCOLATE</p>
      </a>
      <div class="pop-up">
        <h3>SEMI-SWEET CHOCOLATE</h3>
        <span class="button-style orange" type="button">sweet chocolate</span>
        <span class="button-style white" type="button">the benefits</span>
        <p>Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of the best ways to gain an understanding of this type of chocolate is to compare it to a different type of chocolate. Semisweet is darker than milk chocolate. In a taste comparison, it has a slightly bitter taste whereas milk chocolate is sweeter.
        </p>
      </a>
      </div>
      </li>
    </ul>
  </div>
</section>
